.table {
  display: block;
  width: 167px;
  height: 167px;
  margin: 50px auto;
  border-style: dashed;
  text-align: center center;
}

.row {
  display: block;
  height: 41px;
  margin: 1px;
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 1px;
  cursor: pointer;
  border-style: outset;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.cell:hover {
  border-color: white;
}

.active {
  border-style: none;
}